@page
@model JohariWindow.Pages.FriendPage.FriendConfirmationPageModel
@{
    Layout = "/Pages/_FriendPageLayout.cshtml";
    <div>
        <br />
        <h1>Your answers have been recorded successfully!</h1>
        <br />
        <br />
        <h4>Thank you for participating in this survey! You may now close this window.</h4>
    </div>
}
