@page
@model JohariWindow.Pages.Admin.AdminModel
@{
}

<div>
    <h1>Admin Page</h1>
    <div class="container test-1" style="height:  28rem;">
        <div class="row">
            <div class="col-6 test-1">
                <div class="card">
                    <div class="card-body">
                        OPEN ADJECTIVE MATCHES GO HERE
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        BLIND ADJECTIVE MATCHES GO HERE
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        HIDDEN ADJECTIVE MATCHES GO HERE.
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        UNKNOWN ADJECTIVES GO HERE
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
